header {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 980px) {
  .header {
    display: block;
  }
  .header .news {
    width: 100%;
    margin-left: 0px;
    text-align: center;
}

  .header .allSearch {
    width: 100%;
    margin-left: 0px;
    text-align: center;
}
}

.news {
  list-style: none;
  margin-left: 8%;
  width: 30%;
  margin-top: 50px;
  height: auto;
  background-color: #eeeeee;
  box-sizing: border-box;
  border-radius: 0px 0px 25px 25px;
}

.news a {
  color: #333;
  font-weight: bold;
  margin-top: 100px;
  margin-left: 25px;
}

.news li {
  padding-bottom: 15px;
}

.monthNews {
  color: #333;
  padding: 10px 10px 9px;
  border-top: 3px solid #333;
}

.allSearch {
  list-style: none;
  margin-left: 4%;
  margin-right: 8%;
  width: 50%;
  margin-top: 50px;

  height: auto;
  background-color: #EEEEEE;
  box-sizing: border-box;
  border-radius: 0px 0px 25px 25px;
}

.allSearch a {
  color: #333;
  font-weight: bold;
  margin-top: 100px;
  margin-left: 25px;
}

.allSearch li {
  padding-bottom: 15px;
}

.search {
  color: #333;
  padding: 10px 10px 9px;
  border-top: 3px solid #333;
}

.request {
  list-style: none;
  color: #333;
  margin-bottom: 10px;
  margin-right: 0;
}

.requestForm {
  list-style: none;
  color: #EEEEEE;
  margin-bottom: 10px;
  margin-right: 0;
}

.siteLink {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align:  center;
  background-color:  #ddd;
}

.siteLink a {
  margin-left:20px;
}